* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    transition: color 75ms, background-color 0.2s;
}

body {
    background-color: #111213;
}

.modeIcon {
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    z-index: 2;
}

.modeIcon_dm {
    color: white;
    border: 2px solid white;
}

.modeIcon_lm {
    color: black;
    border: 2px solid black;
}

@media (max-width: 600px) {
    .modeIcon {
        width: 2rem;
        height: 2rem;
        top: 1.4rem;
    }
}